body {
    margin: 0;
    background: #082032;
    font-family: "Segoe UI", sans-serif;
    color: white;
}

/* DISTRIBUCIÓN PRINCIPAL */
.layout {
    display: flex;
    height: 100vh;
    padding: 20px 40px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;
    gap: 40px;
}

/* IMAGEN IZQUIERDA */
.left-image {
    width: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: #041c29;
}

.left-image img {
    width: 100%;
    max-width: 700px;
    height: auto;
    max-height: 150vh;
    border-radius: 20px;
    box-shadow: 0 0 30px rgba(255, 255, 255, 0.15);
}

/* PANEL DERECHO DEL CHATBOT */
.right-panel {
    width: 50%;
    max-width: 750px;
    padding: 40px;
}

/* TÍTULO */
.header-title h1 {
    margin: 0;
    font-size: 40px;
}

.tag {
    background: #1dd1a1;
    padding: 6px 14px;
    border-radius: 20px;
    color: #08313b;
    font-size: 12px;
    white-space: nowrap;
}

.subtitle-row {
    padding-right: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
}

.subtitle {
    margin: 0;
    font-size: 15px;
    opacity: 0.85;
}

/* CHAT */
.chatbox {
    background: rgba(255, 255, 255, 0.05);
    padding: 20px;
    border-radius: 15px;
    height: 230px;
    overflow-y: auto;
    margin-top: 20px;
}

.msg-bot {
    display: flex;
    flex-direction: column;
    gap: 6px;
}

/* Burbujas verdes tipo WhatsApp para el bot */
.msg-bot p {
    margin: 0;
    display: inline-block;
    max-width: 90%;
    background: #1dbcd1;
    color: #08313b;
    padding: 8px 12px;
    border-radius: 14px;
    border-bottom-left-radius: 4px; /* para que parezca globo */
    font-size: 14px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.35);
}


/* CONTROLES */
.controls {
    margin-top: 25px;
}

label {
    display: block;
    margin-top: 12px;
    font-weight: bold;
}

select {
    width: 100%;
    padding: 10px;
    border-radius: 10px;
    border: none;
    margin-top: 5px;
    outline: none;
}

/* BOTONES */
.buttons {
    display: flex;
    gap: 10px;
    margin-top: 15px;
}

button {
    background: #1dd1a1;
    border: none;
    padding: 12px 20px;
    border-radius: 10px;
    cursor: pointer;
}

button.secondary {
    background: #1dd1a1;
}

button:hover {
    filter: brightness(1.1);
}

/* TEXTO TIP */
.tip {
    margin-top: 15px;
    font-size: 12px;
    opacity: 0.7;
}
